* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body{

  background-color: rgba(194, 183, 183, 0.096);
}
.container-fluid  span{
  color: white;
  text-decoration: none;
  font-size: 23px;
}
nav {
  background-color: black;
  color: #fff;
  height: 90px;
  padding: 1em;
  text-align: center;
  z-index: 6;
}
nav ul {
  list-style: none;

  margin-left: 40px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
nav li {
  margin-right: 20px;
}
nav .nav-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
nav a:hover {
  color: #ccc;
}
nav .nav-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  
}
nav .nav-item a i {
  margin-right: 5px;
  padding-left: 270px;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: #000;
    text-align: left;
    padding: 20px;
  }
  nav .nav-item a i{
    padding-left: 0;
  }
}
.dropdown-menu .dropdown-item {
  color:black;
  transition: all 0.3s ease;
}
.dropdown-menu .dropdown-item:hover {
  background-color: rgba(128, 128, 128, 0.596);
  color: white;
  border-radius: 3px;
}
.jump-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(184, 0, 0);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  height: 50px;
  cursor: pointer;
}
h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-shadow: 3px 3px 5px rgba(156, 89, 89, 0.486);
}
#trending-now,#top-charts,#new-releases,#old-songs,#top-searched-songs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;

}
#top-artists{
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
}
.song-details{
  margin: 20px;
  width: calc(50% - 40px);
  text-align: left;
  display: flex;
  align-items: center;
}
.artist-details{
  margin: 20px;
  text-align: center;
  align-items: center;
}
.song-details img,.artist-details img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}
.song-details .song-info ,.artist-details .artist-info{
  flex: 1;
}
.song-details .song-info h5{
  font-size: 18px;
  margin-top: 0;
  color: #333;
}
.artist-details .artist-info h5 {
  font-size: 18px;
  margin-top: 20px;
  margin-right: 30px;
  color: #333;
}
.song-details .song-info p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}
.song-details audio {
  width: 100%;
  margin-top: 10px;
}
.footer {
  background-color:#000000;
  padding: 70px 0;
  }
  .footer .container {
  max-width: 1170px;
  margin: auto;
  
  }
  footer .container ul{
    list-style: none;
    padding-left: 0%;

  }
  footer .container ul>li>a{
    color: #ffffff;
    text-decoration: none;
    transition: all 0.1s linear;
  }
  footer .container ul>li>a:hover{
    padding-left: 8px;
    color: #ffffffa1;
  }
footer .row{
  display: flex;
  flex-wrap: wrap;
  }
  .footer-col{
  width: 25%;
  padding: 0 15px;
  }
.footer-col>.social-links>a{
height: 40px;
width: 40px;
display: inline-block;
background-color: #666;
border-radius: 50%;
text-align: center;
line-height: 40px;
margin-right: 10px;
color: #ffffff;
transition: all 0.1s linear;
}
.footer-col .social-links>a:hover{
  background-color: rgb(156, 2, 2);
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  }     
  @media (max-width: 768px) {
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    
      }
  }
  @media (max-width: 574px) {
    .footer-col{
      width: 100%;
      margin-bottom: 30px;
     
      }
  }
    @media (max-width: 768px) {
      .song-details {
        width: 100%;
        margin-bottom: 20px;
      }
      .song-details img {
        width: 100px;
        height: 100px;
      }
    }
    
    @media (max-width: 480px) {
      .song-details {
        margin: 10px;
      }
      .song-details img {
        width: 80px;
        height: 80px;
      }
      .song-details .song-info h5 {
        font-size: 16px;
      }
      .song-details .song-info p {
        font-size: 12px;
      }
    }
    